{% extends "admin/base_site_nav.html" %}
{% load i18n %}

{% block filter %}{% if reportclass.filterable %}
&nbsp;<span id="filterform">
<span id="curfilter"></span>
&nbsp;
<div class="input-group d-inline-flex w-auto">
<input id="addsearch" class="form-control ps-2 pe-2" placeholder="{% trans 'Filter' %}" role="searchbox"
  type="text" size="15" oninput="grid.showFieldList(this)" onkeydown="grid.keyDownSearch(event)">
<button class="input-group-text" onclick="event.stopPropagation(); grid.showFilter()" data-bs-offset="0,5"
  type="button" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="{% trans 'Filter editor' %}">
  <i class="fa fa-search"></i>
</button>
	{% if reportclass.filterable %}{% include "common/snippet_favorites.html" with search=True %}{% endif %}
</div>
<div class="align-middle d-inline-flex" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-offset="0,5"
  data-bs-title="{% trans 'reset filters'|capfirst|force_escape %}">
  <div>
    <i id="resetfilter" onclick="grid.resetFilter()" class="fa fa-times fs-6" ></i>
  </div>
</div>
</span>
{% endif %}{% endblock %}
{% block extrahead %}{{block.super}}
{% endblock %}

{% block content %}
<div class="container">
    <h1>Мобильное вешало №{{ mobilehanger.number }}</h1>
    <p>{{ mobilehanger.current_item }}</p>
    <small>Изменено: {{ mobilehanger.lastmodified }}</small>    
</div>
{% endblock %}
